//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
       ul
          div#logo 
             img(src="/static/img/logo.png")
             | RDA
          li #[a(href="/") Home] 
          li #[a(href="/") Contact-Us]
          li #[a(href="/") services]
          li #[a(href="/") About]
          li #[a(href="/") class info]

    section#introSection
       div  Welcome to Rahul's Dance Academy 
       div.small  Anybody Can Dance 
     
    section#ourMission 
       h2 Our Mission
       div.card 
            h3 Dance Perfection
            div.card-box
               div.card-img
                  img(src="/static/img/img1.png")

               div.card-content 
                 p This is the best dance academy  
       div.card 
            h3 Dance The Way You like
            div.card-box
               div.card-img
                  img(src="/static/img/img2.png")

               div.card-content 
                 p This is the best dance academy  
       div.card 
            h3 Dance Perfection
            div.card-box
               div.card-img
                  img(src="/static/img/img3.png")

               div.card-content 
                 p This is the best dance academy  
    section#sponserSection
       h2 Our sponser
       div#sponsors
       img(src="/static/img/applelogo.png", alt="Sponsor Image", class="spImage")
       img(src="/static/img/microsoftlogo.png", alt="Sponsor Image", class="spImage")
       img(src="/static/img/skypelogo.png", alt="Sponsor Image", class="spImage")
       img(src="/static/img/hplogo.png", alt="Sponsor Image", class="spImage")

    footer#footer
       |  Copyright © 2019 RahulDanceAcademy.com
              
script
      include ../static/index.js
